.carousel {
    width: 100vw;
}

.carousel-item {
    height: 70vh;
    background-position: center;
}

.carousel-image {
    margin-top: 20px;
    margin-bottom: 20px;
    width:100vw;
}

.carousel-caption {
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.btn {
    margin: 2px;
}