.main-card-container {
    background-color: aquamarine;
}

.projects-container {
    background-color: blanchedalmond;
}

.full-screen-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  