html, body {
    scroll-behavior: smooth;
}

.parent-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-image: url('/bg_plain.png');
    background-position: center;
}

/* .main-card-container {
    background-color: aquamarine;
}

.projects-container {
    background-color: blanchedalmond;
} */

.full-screen-component {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}
